<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:5000/" />
    <add key="DefaultWarehouseId" value="1" />
    <add key="AutoLogoutMinutes" value="10" />
    <add key="Language" value="zh-TW" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
